/* your styles go here */

       #map {
        height: 400px;
        width: 100%;
       }

       #initMap() {
        var uluru = {lat: 7.8953705, lng: 98.352043};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }